@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Tajawal:wght@500&display=swap");
/*  
font-family: "Poppins", sans-serif;
  font-family: "Tajawal", sans-serif;
*/

.accountContainer {
  margin-bottom: 50px;
}

.accountTopBar {
  justify-content: flex-end;
  display: flex;
  border: 1px solid #fafafa;
  height: 60px;
  padding: 20px;
}

.backToHomePage {
  margin-left: auto;
}
/*************************************/

#accountheader {
  margin-left: 14%;
}

#account-form {
  display: flex;
  justify-content: center;
}

#account-form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.settinsLabelTitle {
  font-weight: bold;
  font-size: larger;
  font-family: "Poppins", sans-serif;
}

#account-form input,
#settingsLogoutBtn {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px lightgray;
  border-radius: 10px;
  font-size: larger;
}

.settingsHeader {
  margin: 20px 0;
}

#account-form input::-webkit-outer-spin-button,
#account-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#account-form label {
  margin: 10px 0;
}

#account-form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

#account-form .multiple-input-container input {
  margin-right: 10px;
}

#account-form .multiple-input-container label {
  padding: 10px;
  border: solid 2px lightgray;
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

#account-form input[type="number"],
#gender {
  width: 10%;
}

#account-form .multiple-input-container input[type="radio"] {
  display: none;
}

#account-form input[type="radio"]:checked + label {
  border: solid 2px red;
}

#account-form input[type="submit"]:hover,
#settingsLogoutBtn:hover {
  background-color: lightgray;
  cursor: pointer;
}

#account-form input[type="submit"]:active {
  background-color: tomato;
}

#account-form .photo-container img {
  width: 100%;
}

#settingsLogoutBtn {
}
