@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap");

.register {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #393e46;
  min-height: 100vh;
}

.registerTitle {
  font-size: 60px;
  color: lightgray;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Cairo", sans-serif;
}

.registerInput {
  padding: 15px;
}

.registerInput,
.registerButton,
.registerLoginButton {
  border: none;
  border-radius: 25px;
  width: 25vw;
  margin: 10px;
}

.registerButton {
  background-color: #29b3cd;
  width: 27vw;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.registerButton:disabled {
  cursor: not-allowed;
}

.registerLoginButton {
  padding: 5px;
  background-color: rgba(255, 166, 166);
  width: 27vw;
  cursor: pointer;
  font-size: 20px;
  font-family: "Cairo", sans-serif;
}

.displayflex {
  display: flex;
  margin: 10px;
}

#genderOfIntContainer,
#genderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.womanGendRegister {
  margin-left: 70px;
}

#genderOfIntContainer input,
#genderContainer input {
  margin-right: 10px;
}

#genderOfIntContainer label,
#genderContainer label {
  cursor: pointer;
  background-color: lightgray;
  border-radius: 25px;
  padding: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

#genderOfIntContainer label:hover,
#genderContainer label:hover {
  opacity: 0.8;
}

#genderOfIntContainer input[type="radio"],
#genderContainer input[type="radio"] {
  display: none;
}

#genderOfIntContainer input[type="radio"]:checked + label,
#genderContainer input[type="radio"]:checked + label {
  border: solid 2px rgba(255, 166, 166);
  background: tomato;
}

.profilePicRegister {
  max-width: 400px;
}

.inputForProfilePic {
  width: 22vw;
}
